body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: #f2f4f3;
    background-color: #130E0E;
}

/* Header */
header {
    text-align: center;
    background-color: #130E0E;
    padding: 50px 20px;
    margin: 0;
    margin-top: 100px ;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f2f4f3;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2rem;
    color: #f2f4f3;
}

/* Product Catalog */
#catalog {
    padding: 20px;
    margin: 0 100px;
    text-align: center;
    background-color: #130E0E;
}

#catalog h2 {
    font-size: 2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    color: #f2f4f3;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 20px;
}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #130E0E;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #f2f4f3;
}

.product p {
    font-size: 1rem;
    color: #f2f4f3;
}

.product button {
    padding: 10px 20px;
    background-color: #444;
    color: #f2f4f3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.product button:hover {
    background-color: #555;
}